body {
    width: 80%;
    margin: 0 auto;
    background-color: skyblue;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}
html{
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: rgb(216, 229, 235);
    letter-spacing: 1px;
}
lDog{
    color: rgb(4, 20, 46);
}
.list1{
    width: 45%;
    margin: auto;
    text-align: center;
    background-color: bisque;
    border: 1px solid white;
    border-radius: 1.5cm;
}
.list2{
    width: 20%;
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid white;
    border-radius: 1.5cm;
}
.center1{
    display: inline-block;
}
.center1 li{
    text-align: left;
}
.center2{
    display: inline-block;
}
.center2 li{
    text-align: left;
}
.hello{
    color: rgb(97, 9, 9);
}
.about{
    color: rgb(255, 106, 0);
}
h3{
    color: brown;
    font-size: 30px;
}


