body {
    width: 80%;
    margin: 0 auto;
    background-color: skyblue;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
}
html{
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgb(216, 229, 235);
    letter-spacing: 1px;
}
.list1{
    width: 20%;
    padding: 0;
    margin: auto;
    background-color: aquamarine;
    border: 1px solid white;
    list-style-position: inside;
    text-align: center;
}
.list2{
    width: 100%;
    text-align: center;
}
.center{
    display: inline-block;
}
.center li{
    text-align: left;
}
/* .list2{
    width: 10%;
    padding: 0;
    margin: auto;
    background-color: aquamarine;
    border: 1px solid white;
    list-style-position: inside;
    text-align: center;
} */
.hello{
    color: red;
}
.about{
    color: rgb(255, 106, 0);
}
.linkYa{
    color: green;
}


